body{
	background-color: #DDFDFE;
	font-family:garamond;
	background-size: 100%;
    background-repeat: no-repeat;
}
#
}
h5{
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	font-size:225px;
	
}
h2{
	font-color:black;
}
.whitee {
	color:white;
}
#add{
	color:black;
}
#sign{
	color:white;
}
#rita{
	color:black;
	background-image:url('sky.jpg');
}
#description {
	position:absolute;
	height:200px;
	top:200px;
	left:10px;
	color:black;
}
#blacksubmit{
	color:black;
}
#white {
	color:white;
}
#buttons {
	position:absolute;
	top:500px;
}
#headerone {
	color:black;
	text-align: center;
}
#sky {
	background-image:url('sky.jpg');
	color:white;
}

#createfont{
	color:red;
	text-align: center;
}
.h {
	color:white;
	font-size:100px;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: #fff;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.tables{
	background-image:#DDFDFE;
}

.questions{
	color:#028090;


}
.textbox{
	color:#028090;
	font-size: 20px;
}

.navbars{
	color:#1F7A8C
}



/*<style type="text/css">
	#description {
	position:absolute;
	height:200px;
	top:400px;
	left:0px;

}
	#buttons{
	position:absolute;
	top:800px;
	left:0px;
}
body{
	background-image: url("static/background22.gif");
}
</style>*/
