<DOCTYPE! html>
<html>
<head>

<style type="text/css">
	p{
	position:absolute;
	height:200px;
	top:100px;
	left:0px;
}
	#buttons{
	position:absolute;
	top:800px;
	left:0px;
}
</style>


</head>
<body>
<form action="{{url_for('friend_profile, friend_id = friend.id) }}" method = "post">
<h1>"{{user.fullname}} profile</h1>

About Friend
<p>{{user.about_myself}}</p>

<div id="button">
<a href ="{{ url_for('suggest_friend , friend_id=friend.id') }}" class="btn btn-info" role="button">Back to suggested friends</a>

<input type = "button" name ="addfriend" >Add friend</a>
<input type = "submit"></a>

</form>
</div>


</body>
</html>
