<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<title>First Page</title>
</head>
<body>
<div class="container">
<form action="{{url_for('log_in')}}" method="post" role="form">
	<h1 align="center">Login</h1>
	<br>
	Email:<input type="text" name="email" placeholder="Email">
	<br>

	Password:<input type="password" name="password" placeholder="Password">
	<br>
	
	<a href="{{ url_for('sign_up') }}" value=Cancel>sign_up</a>
	
	
	
	<input type="submit" value="Log In">
</form>
</div>

</body>
</html>
