<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Create an Account!</h1>
	Full Name:<input type="text" name="email" placeholder="Full Name">
	
	<br><br>
	Email:<input type="text" name="email" placeholder="Email">
	<br><br>
	Password:<input type="text" name="password" placeholder="Password">
	<br><br>
	Confirm Password:<input type="text" name="password" placeholder="Confirm Password">
	<br><br>
	<input type="submit" value="Submit">
	<input type="submit" value="Cancel">

</body>
</html>