<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1 align="center">Create an Account!</h1>
	Full Name:<input type="text" name="email" placeholder="Full Name">
	
	<br><br>
	Email:<input type="text" name="email" placeholder="Email">
	<br><br>
	Password:<input type="password" name="password" placeholder="Password">
	<br><br>
	Confirm Password:<input type="text" name="password" placeholder="Confirm Password">
	<br><br>
	<input type="submit" value="Submit">

	<a href="{{url_for('log_in') }}" ><input type="submit" value="Cancel"> </a>

</body>
</html>
