<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- jansweruery library --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jansweruery/1.12.4/jansweruery.min.js"></script>

  <!-- Latest compiled JavaScript --> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sign Up</title>
</head>
<body class="body">
<center>

	<h1  class = "h" id="logo" >Create Account!</h1>

</center>
<div class="container-fluid">
<form role="form" action="{{url_for('sign_up')}}" method="post">



<div class="row">
	<div class="col-md-6">
		<div class="form-group questions">
  			<label for="user">Full Name:</label>
  			<input type="text" name="name" class="form-control" >

		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
    	<div class="form-group questions">
      		<label for="user">Email:</label>
      		<input type="email" name="email" class="form-control" >
    	</div>
	</div>
</div>




<div class="row">
	<div class="col-md-6">
    	<div class="form-group questions">
      		<label for="user">Password:</label>
      		<input type="password" name="password" class="form-control" >
    	</div>
	</div>
</div>


<div class="row">
	<div class="col-md-6">
    	<div class="form-group questions">
      		<label for="user"> Confirm password:</label>
      		<input type="password" name="Confirm Password" class="form-control" >
    	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
    	<div class="form-group questions">
      		<label for="user">About yourself:</label>
      		<input type="text" name="about" class="form-control" >
    	</div>
	</div>
</div>


<input type="submit" value="Create Account">

</form>
<a href="{{url_for('log_in') }}" > Cancel </a>
</div>



</body>
</html>
