.body{
	background-color: #DDFDFE;
	font-family:garamond;*/
	background-size: 100%;
    background-repeat: no-repeat;
}


h5{
	font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	font-size:225px;
	
}
#create{
	color:#B98EA7;
}
#logo{
	font-family: 'Pacifico', cursive;
	color:#028090;
	font-size: 100px;
}

#log_in{
	background-image:url(friendship.jpg);
	background-size:100%;
	font-family: 'Noto Sans', sans-serif;

  

}
#about{
	position:absolute;
	top:200px;
	left:10px;
	border:3px solid black;
	margin-right:auto;
}
h2{
	font-color:black;

}
.whitee {
	color:white;
}
#add{
	color:black;
}
#sign{
	color:white;
}
#rita{
	color:black;
	background-image:url('sky.jpg');
}
#description {
	position:absolute;
	height:200px;
	top:200px;
	left:10px;
	color:black;
}
#blacksubmit{
	color:black;
}
#white {
	color:white;
}
#buttons {
	position:absolute;
	top:500px;
}
#headerone {
	color:black;
	text-align: center;
}
#sky {
	background-image:url('sky.jpg');
	color:white;
}

#createfont{
	color:red;
	text-align: center;
}
.h {
	color:white;
	font-size:100px;
	font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: #fff;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.tables{
	background-image:#DDFDFE;
}

.questions{
	color:#028090;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
}
#signup{
	background-color:#028090;
}


}
.textbox{
	color:#028090;
	font-size: 20px;
}

.navbars{
	color:#1F7A8C
}

.head{
	font-family: 'Gloria Hallelujah', cursive;
}



/*<style type="text/css">
	#description {
	position:absolute;
	height:200px;
	top:400px;
	left:0px;

}
	#buttons{
	position:absolute;
	top:800px;
	left:0px;
}
body{
	background-image: url("static/background22.gif");
}
</style>*/
#w { display: block; width: 700px; margin: 0 auto; padding-top: 35px; }
#comments { display: block; }

#comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; padding-left: 65px; border-top: 1px solid #ddd; }

#comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
#comments .cmmnt .avatar img { 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#comments .cmmnt .avatar a:hover img { opacity: 0.77; }

#comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 12px; padding-top: 8px; }

#comments .cmmnt .cmmnt-content header { font-size: 1.3em; display: block; margin-bottom: 8px; }
#comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
#comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 

#comments .cmmnt .replies { margin-bottom: 7px; }
