<DOCTYPE! html>
<html>

<head>

<style type="text/css">
	#description {
	position:absolute;
	height:200px;
	top:400px;
	left:0px;

}
	#buttons{
	position:absolute;
	top:800px;
	left:0px;
}
</style>
</head>

<body>
<h1> {{ user.fullname }} profile </h1>
<a href="{{ url_for('friend_list') }}" class="btn btn-info" role="button">View my friends</a>
<br>
<br>
<div >
Write about yourself
<textarea id = "description"rows="4" cols="50">
</textarea>
</div> 

<div id = "buttons">
<a href="{{ url_for('view_questions') }}" class="btn btn-info" role="button">Edit your answers</a>
<a href="{{ url_for('suggest_friends') }}" class="btn btn-info" role="button">Back to suggested friends</a>
<a href="{{ url_for('logout') }}" class="btn btn-info" role="button" type="sumbit">logout</a>
<a href="{{ url_for('delete_account') }}" class="btn btn-info" role="button" type="sumbit">delete my account</a>
</div>


</body>

</html>
