<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<meta charset="utf-­‐8">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Answer Questions</title>
	<!-- Latest compiled and minified CSS --> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- jansweruery library --> 
	<script src="https://ajax.googleapis.com/ajax/libs/jansweruery/1.12.4/jansweruery.min.js"></script>
	<title>Questions</title>
	<!-- Latest compiled JavaScript --> 
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">	
</head>


<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('suggest_friends') }}" class="btn btn-info" role="button">FRIENDSHIP &nbsp;&nbsp;&nbsp;|</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('friend_list')  }}" role="button">My Friends &nbsp;&nbsp;&nbsp;|</a></li>
        <li><a href ="{{ url_for('user_profile') }}" role="button">My Profile &nbsp;&nbsp;&nbsp;|</a></li>
        <li><a href="{{ url_for('view_questions') }}" role="button">Question &nbsp;&nbsp;&nbsp;|</a></li>

        
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('logout') }}" role="button" type="sumbit">Logout</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
<form action="{{url_for('view_questions')}}" method="post" role="form">
<div class="row">
<h1>Questions</h1>
</div>
<div class="row">
<div class="col-md-6 questions">
<h2>-Simple Questions:</h2>
{%for q in simple_questions%}
  <tr>
    <p>{{q.text}}:</p><input type="text" name="{{q.text}}" placeholder="">
    <br>
  </tr>
  {%endfor%}
<h2 class="whitee">-Deep Questions</h2>

<div class="col-md-6 questions">
{%for i in deep_questions%}
  <tr>
    <p>{{i.text}}:<input type="text" name="{{i.text}}" placeholder="">
    <br>
  </tr>
  {%endfor%}
</div>
</div>
<input type="submit" value="Finish">


</div>
</div>
</div>
</form>
</body>
</html>
